*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Book.Next/nbproject/private/
/BookNext/nbproject/private/
/BookNext/build/
/BookNext/nbbuild/
/BookNext/dist/
/BookNext/nbdist/
/Book.Next/BookNext/dist/BookNext.jar
/Book.Next/BookNext/build/built-jar.properties
/Book.Next/BookNext/dist/BookNext.html
/Book.Next/BookNext/dist/BookNext.jnlp
nbactions.xml
.nb-gradle/
